<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Thymeleaf</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<main>
    <div class="container">
        <div th:insert="sections/education-section :: education"></div>
        <div th:insert="sections/skills-section :: skills"></div>

        <div th:insert="sections/experience-section :: experience"></div>
    </div>
</main>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>