<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
</head>
<body>


<!--private Long id;-->
<!--private String title;-->
<!--private String description;-->
<!--private String imageUrl;-->
<!--private String projectUrl;-->
<!--private Long personalInfoId;-->


<h1>Formulario de informacion personal</h1>
<form th:action="@{/projects/save}" th:object="${projectDTO}" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label><br>
    <input id="title" type="text" th:field="*{title}"><br><br>

    <label for="description">Description:</label><br>
    <input id="description" type="text" th:field="*{description}"><br><br>

    <label for="projectUrl">Project URL:</label><br>
    <input id="projectUrl" type="url" th:field="*{projectUrl}"><br><br>

    <label for="personalInfoId">Personal Info ID:</label><br>
    <input id="personalInfoId" type="number" min="1" th:field="*{personalInfoId}"><br><br>

    <label for="file">Imagen:</label><br>
    <input id="file" name="file" type="file" accept="image/*"><br><br>






    <button type="submit">Enviar</button>
</form>

</body>
</html>

