
<section id="about"  th:fragment="about" xmlns:th="http://www.thymeleaf.org">
    <h2>WHO AM I ?</h2>
    <p>I am a full-stack website developer specialized in Java. Plus, I also know some Html and CSS
        front-end development with animation and user experience in mind.</p>
    <p>Programming is my passion, that's the reason I am working at the time of my academic career.</p>
    <p>Additionally, I like to play PC games and listen to story-type books in my leisure time which is
        kinda fun and relaxing!</p>
    <button>SHOW MY PROJECTS</button>
</section>